.nevs-main-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: $menu-width;
  height: 100%;
  overflow: auto;
  background: $menu-background;
  font-size: 18px;
  z-index: 2;

  &-separator {
    border-bottom: 1px solid $font-color ;
  }

  &-logo {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  &-item {
    width: max-content;
    cursor: pointer;
    display: block;
    padding: 15px;
    background: $menu-background;
    color: $font-color;

    &-icon {
      display: inline-block;
      text-align: center;
      width: 20px;
      margin-right: 5px;
    }
  }

  &-item:visited {
    color: $font-color;
  }

  &-item:hover {
    color: $menu-color-hover;
  }

  &-subitem {
    display: block;
    width: max-content;
    padding: 5px 5px 5px 15px;
    background: $menu-background;
    color: $font-color;

    &-icon {
      display: inline-block;
      width: 20px;
      text-align: center;
      margin-right: 5px;
    }
  }

  &-subitem:visited {
    color: $font-color;
  }

  &-subitem:hover {
    color: $menu-color-hover;
  }

  .active, .active:hover {
    color: $menu-color-selected !important;
  }
}

@media only screen and (max-width: $menu-responsive) {
  .nevs-main-menu {
    padding-top: calc(10px + $top-bar-height);

    &-logo {
      display: none;
    }
  }
}

.main-menu-enter-active,
.main-menu-leave-active {
  transition: opacity 0.2s ease;
}

.main-menu-enter-from,
.main-menu-leave-to {
  opacity: 0;
}