.nevs-select {
  cursor: pointer;
  user-select: none;
  &-multiple-pill {
    background: $select-multiple-pill-background;
    line-height: normal;
    display: inline-block;
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 1px;
    margin-right: 1px;
    svg {
      height: 0.8em !important;
      margin-bottom: 0.05em;
    }
  }
}
