@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

@import 'vars';
@import 'general';
@import 'field';
@import 'dropdown';
@import 'select';
@import 'actions';
@import 'textfield';
@import 'textarea';
@import 'datefield';
@import 'numberfield';
@import 'checkbox';
@import 'loader';
@import 'notification';
@import 'popup';
@import 'button';
@import 'upload';
@import 'table';
@import 'card';
@import 'main-menu';
@import 'top-bar';
@import 'content';
@import 'login';

