$font-family: 'Sora', sans-serif !default;
$font-color: #5e6278 !default;

$app-background: #e8eff3 !default;

$primary: #4d4dff !default;
$secondary: #00b4b4 !default;
$warning: #ffb734 !default;
$error: #ff3434 !default;
$success: #00b300 !default;

$primary-foreground: white !default;
$secondary-foreground: white !default;
$warning-foreground: white !default;
$error-foreground: white !default;
$success-foreground: white !default;

$primary-hover: #1a1aff !default;
$secondary-hover: #009a9a !default;
$warning-hover: #ffa501 !default;
$error-hover: #e70000 !default;
$success-hover: #009a00 !default;

$button-background: #9296aa !default;
$button-foreground: white !default;
$button-hover: #84889f !default;

$field-background-base: #f5f8fa !default;
$field-background-focused: #eef3f7 !default;
$field-hint-color: #b5b5b5 !default;

$dropdown-background: #ffffff !default;
$dropdown-border-color: #dde7ef !default;
$dropdown-option-hover-background: #eef3f7 !default;

$scrollbar-background: #f5f8fa !default;
$scrollbar-foreground: #5e6278 !default;

$select-multiple-pill-background: #d8f1ff !default;

$date-field-picker-background: #f5f8fa !default;
$date-field-picker-day-hover-background: #bacedf !default;
$date-field-picker-day-disabled-background: #eef3f7 !default;
$date-field-picker-day-selected-background: #cbdbe7 !default;
$date-field-picker-separator-color: #dde7ef !default;
$date-field-picker-border-color: #dde7ef !default;

$notification-background: #dce775 !default;
$notification-foreground: #5e6278 !default;

$popup-background: #e3e3e3 !default;
$popup-foreground: #5e6278 !default;

$table-body-background: #dfeaef !default;
$table-header-background: #b8cfdb !default;
$table-row-hover: #d2e1e8 !default;
$table-row-border: #c5d8e2 !default;

$menu-background: #1e1e2d !default;
$menu-color-hover: $primary !default;
$menu-color-selected: $primary !default;
$menu-width: 250px !default;
$menu-responsive: 800px !default;

$top-bar-height: 50px !default;
$top-bar-background: #28283c !default;
$top-bar-color: #767b92 !default;
$top-bar-button-hover-color: $primary !default;
